---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>
  <section>
  <h2>JSON Data pull test</h2>
  {% assign sgpm = site.data.sgpm-1[0] %}
  
  <img src="./img/{{ sgpm.FileName }}" />
  <h3>Photo from: {{ sgpm.CopyrightNotice }}</h3>
  <p>
  {{ sgpm.ImageDescription }}
  </p>
  <ul style="list-style:none;margin-left:0;">
  {% for x in sgpm.Keywords %}
  <a href="/tags/{{x}}" style="padding:3px; display:inline-block; background:#eee; margin-bottom:2px;"><li> {{ x }} </li></a>
  {% endfor %}
  </ul>
  </section>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
